/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	
	
/* Global Settings and resets incl. baseline corrections for skeleton */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1 { line-height: 49px; margin-bottom: 14px;}
h2 { line-height: 42px; margin-bottom: 14px; }
h3 { line-height: 35px; margin-bottom: 7px; }
h4 { line-height: 21px; margin-bottom: 0px; }
h5 { line-height: 28px; }
h6 { line-height: 21px; }

p { margin: 0 0 21px 0; }
p.lead {line-height: 28px;  }

blockquote, blockquote p { font-size: 17px; line-height: 21px; color: #777; font-style: italic; }
blockquote { margin: 0 0 21px; padding: 7px 20px 0 19px; border-left: 1px solid #ddd; }

hr { margin: 14px 0 28px;}

ul, ol { margin-bottom: 21px; }
ol ol, ol ul { margin: 7px 0 7px 30px; font-size: 100%;  }
ol ol li, ol ul li { margin-bottom: 7px; }
li { line-height: 21px; margin-bottom: 14px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	margin-bottom: 20px;
	}

.row {
	margin-bottom: 21px;
}


/* FlexSlider Necessary Styles
*********************************/ 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* nec styles */
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* #Site Styles
================================================== */

/* Global Typography */

body {
	font-family: Helvetica, arial, sans-serif;
}

p, ul {
	font-weight: lighter;
}

strong {
	font-weight: normal;
}

a {
	font-weight: normal;
	text-decoration: none;
	color: #c04587;
}

p a:hover, ul a:hover {
	background: #c04578;
	color: #fff;
	text-decoration: none;
}

h3 {
	font-family: helvetica, arial, sans-serif;
	font-size: 21px;
	line-height: 28px;
	padding-bottom: 7px;
	color: #4e4e4e;
	font-weight: bold;
	background: url('../images/heading-bottom.png') bottom left no-repeat, url('../images/heading-bottom-ruler.png') bottom left repeat-x;
}

h4 {
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #c04587;
}

::selection {
	background: #c04587;
	color: #fff;
}

/* address list; used in homepage>about */

ul.address li {
	display: inline-block;
	width: 50%;
	float: left;
	margin-bottom: 0px;
}

ul.address li.break {
	width: 100%;
}

/* header */

.header {
	background: url('../images/header-top-bg.gif') repeat-x top left;
}

.header .container .columns {
	border-bottom: 1px solid #c3c3c3;
}

.header h1.logo {
	margin: 45px 0 0 0;
	height: 73px;
	width: 273px;
	background: url('../images/logo-header.gif') no-repeat;
}

.header h1.logo a {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

	/* primary menu for large screens */
	
	.header .menu {
		float: right;
		margin: -28px 30px 0 30px;
		font-weight: normal;
	}
	
	.header .menu li {
		float: left;
		margin-left: 60px;
	}
	
	.header .menu li a {
		text-decoration: none;
		padding: 0 0 14px 0;
		color: black;
	}
	
	.header .menu li a.active, .header .menu li a:hover {
		border-bottom: 4px solid #c04587;
		background: none;
	}
	
	/* Drop-down menu for smaller screens */
	
	nav.primary select {
		margin: 10px 10% 0 10%;
		width: 80%;
	}

/* Flexslider styles */

.band.slider {
	margin-top: 28px;
}

.flex-control-nav, .flexslider li {
	margin: 0 0 0 0; /* reset global list margins */
}

.flexslider ol.flex-control-nav {
	margin: 7px 0 0 0;
}

ol.flex-control-nav {
	width: 100%;
	text-align: center;
}

.flex-control-nav li {
	display: inline-block;
}

.flex-control-nav li a {
	float: left;
	text-indent: -9999%;
	margin: 0px 5px;
	background: #e9e9e9;
	border-radius: 10px;
	height: 14px;
	width: 14px;
	cursor: pointer;
	
	font: 0/0 a;
	text-shadow: none;
	color: transparent;	
}

.flex-control-nav .flex-active {
	background: #c04587;
}

/* Banners */

.band.banners {
	background: #f5f5f5;
	margin: 14px 0 0 0;
}

.banners figure {
	padding: 6px;
	border: 1px solid #e0e0e0;
	background: #fff;
	margin: 7px 0;
	line-height: 0;
}

.banners img {
	width: 100%;
	height: 100%;
}

/* News */

.band.news {
	margin: 49px 0 0 0;
}

.news .right {
	background: #f5f5f5;
}

.right h3, .right p {
	margin-left: 7px;
}

.news p.date {
	font-size: 10px;
	text-transform: uppercase;
	margin-bottom: 7px;
	margin-top: -7px;
	text-align: right;
}

.news p.date em {
	font-style: normal;
	font-size: 10px;
	text-transform: uppercase;
}

.news p strong {
	font-weight: normal;
	color: #656565;
}

p.readmore {
	font-size: 12px;
	text-transform: uppercase;
	margin-top: -21px;
	color: #c04587;
}


/* Break banner */

.band.break-banner {
	margin: 70px 0;
}

.band.break-banner .columns {
	background: #2f2f2f;
}

.break-banner h3 {
	color: #ebebeb;
	font-family: Helvetica, arial, sans-serif;
	font-size: 16px;
	line-height: 21px;
	padding: 21px 0 0 21px;
	background: none;
}

.break-banner ul {
	padding: 14px 0 0 0;
}

.break-banner ul li {
	float: left;
	margin: 0 14px 0px;
}

.break-banner a:hover {
	background: none;
}

/* About band */

.band.about {
	padding-top: 14px;
	padding-bottom: 21px;
	background: #f5f5f5;
}

	/* formset styles */
	.band.about form {
		margin-top: 21px;
		display: inline-block;
		width: 100%;
	}
	.band.about form input {
		width: 45%;
		display: block;
	}
	
	.band.about form textarea {
		width: 50%;
		max-width: 50%;
		float: right;

		color: #777;
		margin: 0;
		display: block;
		margin-bottom: 21px;
		background: #fff;
		height: 175px;
	}
	
	.band.about form input[type=submit] {
		width: 15%;
	}

/* Footer */

.band.footer {
	padding-top: 21px;
	padding-bottom: 28px;
	background: #4d4d4d;
	font-size: 12px;
}

.band.footer, .band.footer strong {
	color: #c0c0c0;
}

.band.footer h3, .band.footer h4, .band.footer a {
	color: #f1f1f1;
}

.band.footer h3 {
	font-size: 16px;
}

	/* footer news lists */

	.band.footer ul.news em {
		color: #858585;
		font-style: normal;
	}
	
	.band.footer ul.news li {
		margin-bottom: 0;
	}
	
	/* footer subscribe form styling */
	
	.band.footer form.subscribe input[type=email] {
		width: 80%;
		max-width: 80%;
		background: #858585;
		border: none;
		height: 35px;
		display: inline-block;
		margin: none;
		
		float: left;
				
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		color: #5d5d5d;
	}
	
	.band.footer form.subscribe input[type=submit] {
		width: 20%;
		display: inline-block;
		padding: none;
		margin: none;
		
		float: left;
				
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		border: none;
		background: #c04587;
		text-shadow: none;
		color: #f1f1f1;
		font-weight: normal;
		height: 35px;
	}

/* Bottom */

.band.bottom {
	background: #2f2f2f;
}

.bottom p {
	font-size: 12px;
	color: #a8a8a8;
	margin-top: 7px;
	margin-bottom: 7px;
}

.bottom p strong {
	color: #e8e8e8;
	font-weight: normal;
}

/* #Page Styles
================================================== */

/* Webshop main page */

.band.categories {
	margin-top: 21px;
}
	
	/* Categories drawer */
	
	.band.categories .row {
		margin-bottom: 0;
		margin-top: 21px;
	}
	
	.band.categories, .band.categories h2 {
		color: #e8e8e8;
	}
	
	.band.categories li a {
		color: #e8e8e8;
	}
	
	.band.categories li a:hover {
		background: none;
		color: #a8a8a8;
		
	}
	
	.band.categories .container .sixteen.columns {
		background: #2f2f2f;
	}
	
	.band.categories h2 {
		padding: 10px 10px 10px 10px;
		margin-bottom: 0;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 18px;
		font-weight: bold;
		line-height: 21px;
		
		/* drawer functionality */
		cursor: pointer;
		display: inline-block;		
		width: 100%;
		background: url('../images/apple-touch-icon.png') center right no-repeat;		
	}
	
	.band.categories h2.open {
		background: url('../images/e-scarf.png') center right no-repeat;		
	}
	
	.band.categories .four.columns:first-of-type {
		padding-left: 10px;
	}
	
	/* products listing */
	
	.band.products {
		margin-top: 28px;
	}
	
	.products .product {
		display: block;
		height: 280px;
		cursor: pointer;
	}
	
	.products .product figure {
		display: inline-block;
		padding: 6px;
		border: 1px solid #d2d2d2;
	}
	
	.products .product img {
		display: inline-block;
		width: 100%;
	}
	
	.products .product h4.open {
		background: url('../images/apple-touch-icon.png') center right no-repeat;		
	}
	
		/* product details */
	
		.product .details .two.columns.alpha {
			text-align: right;
		}
		
		.product .details .two.columns.omega {
			text-align: left;
		}
		
		.product .details p {
			margin-bottom: 7px;
		}
		
		.product .details .row {
			margin-bottom: 0;
		}
		
		
/* News Page */


.band#news {
	margin-top: 35px;
	margin-bottom: 49px;
}

#news .news-element {
	margin-bottom: 21px;
}

#news .heading {
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 21px;
	text-align: center;
}

#news .heading p {
	font-size: 10px;
	text-transform: uppercase;
}

#news .heading h2 {
	text-align: center;
	line-height: 42px;
	color: #4d4d4d;
	font: normal 42px Helvetica, Arial, sans-serif;
	margin-bottom: 0;
}

.news-element:hover figure.img-container {
	opacity: 1;
}

.news-element figure.img-container {
	height: 196px;
	overflow: hidden;
	position: relative;
	border-top: 7px solid #c04587;
	opacity: 0.8;
	margin-bottom: 14px;
	
	-webkit-transition: opacity 0.3s ease-in-out;
}

.six.columns.news-element figure.img-container {
	height: 91px;
}

figure.img-container img {
	width: 100%;
}

#news h3 {
	background: none;
	line-height: 21px;
	padding-bottom: 0;
	padding-top: 7px;
	display: inline-block;
	width: 100%;
}

.news-element h3 a {
	color: #4d4d4d;
	
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.news-element:hover h3 a {
	color: #c04587;
}

#news h3 a:hover {
	color: #c04587;
}

.news-content .metadata {
	border-right: 1px solid #9d9d9d;
	padding: 0 10px 0 0;
	line-height: 21px;
	margin-top: -1px;
	text-align: right;
}

.news-content .metadata p {
	font-size: 10px;
	display: inline-block;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 0;
}

.six.columns.news-element .metadata {
	border-right: none;
	border-left: 1px solid #9d9d9d;
	margin-bottom: 7px;
	text-align: left;
	padding-left: 10px;
	line-height: 14px;
}

.six.columns.news-element .metadata p {
	display: inline;	
}

.news-content .metadata p em {
	font-style: normal;
	color: #9d9d9d;
}
	


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width: 959px) {
		nav.primary select {
			display: none;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		nav.primary select {
			display: none;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		nav.primary ul.menu {
			display: none;
		}
		
		.header .container .columns {
			border-bottom: none;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	/* Break banner list */
		ul.retailers {
			margin-left: 10px;
		}
		
		.break-banner .omega {
			margin-bottom: 14px;
		}
		
		.band.categories .four.columns {
			padding-left: 10px;
			margin-bottom: -7px;
		}
		
	/* NewsPage */
		.news-content .metadata {
			border-left: 1px solid #9d9d9d;
			border-right: none;
			padding: 0 10px 0 10px;
			text-align: left;
			margin-bottom: 7px;
		}
		
		.news-content .metadata p {
			display: inline;
			margin-bottom: 7px;
		}
		
		.news-element figure.img-container {
			height: 91px;
		}
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		nav.primary select {
			width: 100%;
			margin: 10px 0 0 0;
		}
		
		.band.categories .four.columns {
			padding-left: 10px;
			margin-bottom: -7px;
		}
		
		/* Break banner centering */
			.break-banner .omega {
				text-align: center;
			}
			
			.break-banner h3 {
				padding-left: 0;
				text-align: center;
			}
			
			ul.retailers li {
				float: none;
			}
			
		/* NewsPage */
			.news-content .metadata {
				border-left: 1px solid #9d9d9d;
				border-right: none;
				padding: 0 10px 0 10px;
				margin-top: -1px;
				text-align: left;
				margin-bottom: 7px;
			}
			
			.news-content .metadata p {
				display: inline;
				margin-bottom: 7px;
			}
			
			.news-element figure.img-container {
				height: 91px;
			}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/